# Entorno virtual
venv/
env/
*.venv/

# Variables de entorno
.env

# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local (por si en algun momento cae a SQLite)
db.sqlite3
db.sqlite3-journal

# Archivos estaticos y media generados por Django
staticfiles/
media/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Logs
*.log